@font-face {
    font-family: "rubik";
    src: 
        url(./fonts/rubik-variablefont_wght-webfont.woff2) format("woff2"),
        url(./fonts/rubik-variablefont_wght-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hangyaku";
    src:
        url(./fonts/hangyaku-xrrwq-webfont.woff2) format("woff2"),
        url(./fonts/hangyaku-xrrwq-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

em {
    font-style: italic;
}

:root {
    --dark-gray: #171717;
    --medium-gray: #dbdbdb;
    --light-gray: #f7f7f7;
    --register-section-color: #a73ea8;
    --register-section-color-hover: #bc4fbd;
    --register-section-color-active: #9b469c;
    
    --black-shadow: 1px 1px 3px black;
    --box-shadow-color: #d3d3d3;
    
    --card-color: rgba(0, 0, 0, 0.6);
    --card-logo-shadow: drop-shadow(var(--black-shadow));
    --card-text-shadow: var(--black-shadow);
    --artist-link-text-shadow: var(--black-shadow);

    --main-container-padding: 52px;
    --medium-font-size: 2.4rem;

    --input-valid-color: dodgerblue;
    --input-invalid-color: #f00000;

    font-size: 10px;
    color: var(--dark-gray);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    height: 100vh;
    font-size: 1.8rem;
    font-family: "rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

::selection {
    background-color: var(--register-section-color-hover);
    color: white;
}

/* Background / Window container */

.background-container {
    background-color: var(--register-section-color);
    background-image: url(./img/background.jpg);

    width: 42%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    display: flex;
    justify-content: center;
}

.card-body {
    background-color: var(--card-color);
    height: 160px;
    position: absolute;
    color: white;
    top: 184px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.card-logo {
    filter: var(--card-logo-shadow);

    max-width: 96px;
    margin-right: 10px;
}

.card-body p {
    text-shadow: var(--card-text-shadow);

    font-family: "hangyaku", sans-serif;
    font-style: normal;
    font-size: 10rem;
    color: white;
}

.artist-info {
    text-shadow: var(--artist-link-text-shadow);

    color: white;
    position: absolute;
    bottom: 10px;
}

.artist-info a {
    color: orchid;
}

.artist-info a:hover {
    color: white;
}

.artist-info a:active {
    color: lightgray;
}

.card-text {
    /* Custom font pending */
    font-family: sans-serif;
    font-style: normal;
    color: white;
    font-size: 60px;
}

/* Main container / Form container */

.main-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.main-container > * {
    padding-left: var(--main-container-padding)
}

.quote-container {
    background-color: var(--light-gray);
    font-size: var(--medium-font-size);

    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
}

.quote-container .first-quote {
    width: 550px;
    margin-bottom: 40px;
    line-height: 1.4;
}

.quote-container .second-quote {
    margin-bottom: 50px;
}

.form-container {
    position: relative;
    background-color: var(--white);
    box-shadow: 3px 3px 4px var(--box-shadow-color);

    padding-top: 24px;
    padding-bottom: 32px;
    flex: 6;
}

.form-container > h3 {
    font-size: var(--medium-font-size);
    margin-bottom: 16px;
}

#register-form {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 24px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.input-container label {
    letter-spacing: 1px;
    margin-bottom: 1px;
    user-select: none;
}

.input-container input {
    border: 1px solid var(--medium-gray);

    padding: 5px;
    width: 260px;
    border-radius: 3px;

    transition: 100ms ease-in-out;
}

.input-container input::placeholder {
    opacity: 0;
    position: relative;
    top: 3px;
    transition: 100ms ease-in-out;
}

.input-container input:valid::selection {
    background-color: var(--input-valid-color);
    color: white;
}

.input-container input:invalid::selection {
    background-color: var(--input-invalid-color);
    color: white;
}

.input-container input:hover::placeholder,
.input-container input:focus::placeholder {
    top: 0;
    opacity: 1;
    transition: 100ms ease-in-out;
}

.input-container input:focus {
    box-shadow: 3px 3px 4px var(--box-shadow-color);
    border: 1px solid var(--input-valid-color);

    outline: 0;
    transition: 100ms ease-in-out;
}

.input-container input:invalid {
    border: 1px solid var(--input-invalid-color)
}

/* Register section */

.register-container {
    background-color: var(--light-gray);
    flex: 8;
}

.register-button {
    position: absolute;
    top: 355px;
    
    box-shadow: 1px 1px 4px var(--box-shadow-color);
    background-color: var(--register-section-color);

    padding: 14px 52px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    color: white;
}

.register-button:hover {
    background-color: var(--register-section-color-hover);
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.register-button:active {
    background-color: var(--register-section-color-active);
    transition: none;
}

.login-paragraph {
    margin-top: 116px;
    font-weight: bold;
}

.login-link {
    color: var(--register-section-color);
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    color: var(--register-section-color-hover);
    cursor: pointer;
}

.login-link:active {
    color: var(--register-section-color-active);
    transition: none;
}