@font-face {
    font-family: "rubik";
    src: 
        url(./fonts/rubik-variablefont_wght-webfont.woff2) format("woff2"),
        url(./fonts/rubik-variablefont_wght-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hangyaku";
    src:
        url(./fonts/hangyaku-xrrwq-webfont.woff2) format("woff2"),
        url(./fonts/hangyaku-xrrwq-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --light-gray: #f7f7f7;
    --white: #ffffff;
    --dark-gray: #0d0d0d;
    
    --black-shadow: 1px 1px 3px black;

    --card-color: rgba(0, 0, 0, 0.6);
    --card-logo-shadow: drop-shadow(var(--black-shadow));
    --card-text-shadow: var(--black-shadow);

    --artist-link-text-shadow: var(--black-shadow);

    --main-container-padding: 4rem;
    --medium-font-size: 2.2rem;

    font-size: 10px;
    color: var(--dark-gray);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    font-family: "rubik", sans-serif;
    font-style: italic;
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

/* Background / Window container */

.background-container {
    width: 37%;
    background-color: orchid;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25% 50%;
    display: flex;
    justify-content: center;
}

.card-body {
    background-color: var(--card-color);

    position: absolute;
    color: white;
    top: 184px;
    width: inherit;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.card-logo {
    max-width: 96px;
    margin-right: 1rem;

    filter: var(--card-logo-shadow);
}

.card-body p {
    text-shadow: var(--card-text-shadow);

    font-family: "hangyaku", sans-serif;
    font-style: normal;
    font-size: 10rem;
    color: white;
}

.artist-info {
    color: white;
    position: absolute;
    bottom: 1rem;
    text-shadow: var(--artist-link-text-shadow);
}

.artist-info a {
    color: orchid;
}

.artist-info a:hover {
    color: white;
}

.artist-info a:active {
    color: lightgray;
}

.card-text {
    /* Custom font pending */
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 6rem;
}

/* Main container / Form container */

.main-container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.main-container > * {
    padding-left: var(--main-container-padding)
}

.quote-container {
    background-color: var(--light-gray);
    flex: 8;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    font-size: var(--medium-font-size);
    font-style: normal;
    font-weight: bold;
}

.quote-container .first-quote {
    width: 550px;
    margin-bottom: 3rem;
    line-height: 1.4;
}

.quote-container .second-quote {
    margin-bottom: 5rem;
}

.form-container {
    background-color: var(--white);
    flex: 6;
}

.form-container > h3 {
    font-size: var(--medium-font-size);
}

.register-container {
    background-color: var(--light-gray);
    flex: 8;
}